.hidden{
    display: none!important;
}
html,body{
    background: url(../img/sleep.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000009e;
}
.modal_ex{
    background: #fff;
    width: 40rem;
    height: 15rem;
    border-radius: 15px;
    position: relative;
}
.modal_close{
    cursor: pointer;
    position:absolute;
    top: 15px;
    right: 15px;
}